body{
    background-color: aquamarine;
    text-align: center;
}
h1{
    margin-top: 100px;
    margin-bottom: 80px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}
#num{
    color: brown;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
}
#button{
   
    margin: 2%;
}
.bt{
    background-color: rgb(117, 226, 14);
    font-size: large;
    height: 50px;
    width: 140px;
}
#footer{
    position: fixed;
    bottom: 0%;
    width: 100%;
    background-color: rgb(181, 180, 180);
}
#items{
    padding: 5%;
    margin: 9%;
    background-color: rgb(182, 255, 231);
}